/*some basic design treatment for tables*/
table {
  margin:         0;
  width:				  100%;
  border-collapse:collapse;
}
table caption {
  font-size:      2em;
  border-bottom:  2px solid #404040;
  text-align:     left;
  background:     #FFF;
}
table th {
  background:			#F9F9F9;
  font-weight:		bold;
  text-align:     left;
}
table td,
table th {
  padding:			  10px;
  vertical-align:	top;
  border:				  1px solid #CCC;
  border-collapse:collapse;
}
table .main {
  width:          100%;
}
table .wrap {	
  white-space:    normal;
}
table .nr {
  text-align: 		right;
}

table thead th {
  border-bottom:	2px solid #404040;
  vertical-align:	bottom;
}
table tbody th {
  width:          200px;
}

table tfoot td {
  border-top:		  2px solid #000;
  border-right:		0;
  border-bottom:  0;
  border-left:		0;
  font-weight:    bold;
}