/*some basic design treatment for table.nices*/
table.nice {
  margin:         0;
  width:				  100%;
  border-collapse:collapse;
}
table.nice caption {
  font-size:      2em;
  line-height:    1.4em;
  border-bottom:  2px solid #404040;
  text-align:     left;
  background:     #FFF;
}
table.nice th {
  background:			#F9F9F9;
  font-weight:		bold;
  text-align:     left;
}
table.nice td,
table.nice th {
  padding:			  10px;
  vertical-align:	top;
  border:				  1px solid #CCC;
  border-collapse:collapse;
}
table.nice .main {
  width:          100%;
}
table.nice .wrap {	
  white-space:    normal;
}
table.nice .nr {
  text-align: 		right;
}

table.nice thead th {
  border-bottom:	2px solid #404040;
  vertical-align:	bottom;
}
table.nice tbody th {
  width:          200px;
}

table.nice tfoot td {
  border-top:		  2px solid #000;
  border-right:		0;
  border-bottom:  0;
  border-left:		0;
  font-weight:    bold;
}